@model IEnumerable<MVCApps.Models.Group>

@{
  //  ViewData["Title"] = "Course list";
  Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>University</title>
</head>
<body>
    <h3>Groups</h3>
    <table>
      <tr>
            <td>GROUP ID</td>
            <td>COURSE_ID</td>
            <td>NAME</td>
            <td></td>
        </tr>
          @foreach (var group in Model)
            {
                @if (group.course_ID == ViewBag.group_ID)
                {
            <tr>                
                <td><a href="~/Home/showStudents/@group.group_ID">@group.group_ID</a></td>                
                <td>@group.course_ID</td>
                <td style="padding-right: 20px">@group.name</td>         
                <td><a href="~/Home/changeNameOfGroup/?mGroup=@group.group_ID&mCourse=@group.course_ID">Изменить имя группы</a></td>
                <td><a href="~/Home/removeGroup/?groupId=@group.group_ID">Удалить группу</a></td>                                        
            </tr>            
            }
        }                      
        </table>
</body>
</html>
